{% extends 'base.html.twig' %}

{% block title %}New Playlists{% endblock %}

{% block body %}
    <h1>Create new Playlists</h1>

    {{ include('playlists/_form.html.twig') }}

    <a href="{{ path('app_playlists_index') }}">back to list</a>
{% endblock %}
