{% extends 'base.html.twig' %}

{% block title %}New Song{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="display-4">Create a New Song</h1>

        <div class="card mt-4">
            <div class="card-body">
                {{ include('song/_form.html.twig') }}
            </div>
        </div>

        <a href="{{ path('app_song_index') }}" class="btn btn-secondary mt-3">Back to List</a>
    </div>
{% endblock %}

