{% extends "base.html.twig" %}

{% block title %}Register{% endblock %}

{% block body %}
    <h2>User Registration</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
