{% extends 'base.html.twig' %}

{% block title %}Playlist index{% endblock %}

{% block body %}
    <h1>Playlist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for playlist in playlists %}
            {% if playlist.getUserId() == app.user %}
                <tr>
                    <td>{{ playlist.id }}</td>
                    <td>
                        <a href="{{ path('app_playlist_show', {'id': playlist.id}) }}">show</a>
                        <a href="{{ path('app_playlist_edit', {'id': playlist.id}) }}">edit</a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_playlist_new') }}">Create new</a>
{% endblock %}
